body {
    background-image: linear-gradient(	#af67e9,#6565e7);
    background-repeat:no-repeat;
    font-family:'Kumbh Sans';
    font-size:12px;
    font-weight:400;
}

.card {
    background-color: #fff;
    border-radius:20px;
    margin:150px 20px;
}

.center {
    margin:0 auto;
    display:block;
}

#woman {
    width: 74%;
    position:relative;
    bottom: 108px;
}

#box {
    width: 33%;
    position: relative;
    bottom: 224px;
    left:29px;
}

div.image-section{
    background-image:url('../images/bg-pattern-mobile.svg');
    background-repeat:no-repeat;
    position: relative;
    left:40px;
}

div#images {
    position: relative;
    right:40px;
}

.heading {
    font-weight:700;
    font-size:200%;
    text-align:center;
}

.content-section {
    position:relative;
    bottom:150px;
}

.section {
    margin-top:30px;
    padding:0 20px;
}

.question-answer {
    border-bottom:1.5px solid #e7e7e9;
    margin-bottom:15px;
}

.question-section {
    margin-bottom:10px;
    color: 	#4a4b5e;
}

.question-section:hover {
    color:#f47c57;
    cursor:pointer;
}

.question {
    display:inline-block;
    width:calc(100% - 20px);
}

.answer {
    color: #787887;
    margin-bottom:10px;
    display:none;
    line-height:1.6;
}